## Rajath Chikkatur Srinivasa - 002552425

### 1. Write a function that finds the factorial of a number. Test the function finding the factorial of the number 10.

In [ ]:
# function
def fact_find(num):
  if num < 0: 
      return 'Test for a positive number, negative factorial cannot be permuted'
  elif num == 0 or num == 1: 
      return 1
  else:
      fact =1
      for i in range(1, num+1):
          fact *=i
      return fact

In [ ]:
# testing
print(fact_find(10), end='')

3628800

### 2. Write a function that determines if a number is a prime number. Test the function with the following numbers: 3 and 1251.

In [ ]:
def prime_check(num):
  if num > 1:
    for i in range(2, num):
      if (num %i) == 0:
        return f'{num} is not prime'
    else:
      return f'{num} is prime'
  else:
    return f'{num} not prime'

In [ ]:
# testing
print(prime_check(3),'\n',prime_check(1251),end='',)

3 is prime
 1251 is not prime

### 3. Write a function that transposes a matrix. Test with a 3 x 3 identity matrix.

In [ ]:
#function
def matrix_pose(matrix):
  tempMatrix = [[0 for i in range(len(matrix))] for i in range(len(matrix[0]))]
  for i in range(len(matrix[0])):
    for j in range(len(matrix)):
      tempMatrix[i][j] = matrix[j][i]
  return tempMatrix

In [ ]:
#tesing
print(matrix_pose([[1 ,0,0],[0,1,0], [0,0,1]]))

[[1, 0, 0], [0, 1, 0], [0, 0, 1]]

### 4. Using Pandas and Numpy, write a piece of code to combine two series into one. Test your code with:
```python
np.random.seed(0)
series1 = pd.Series(np.arange(10))
series2 = pd.Series(np.arange(26))
```
Do not forget to set the seed, or your answer wonâ€™t be reproducible.

In [37]:
import pandas as pd
import numpy as np

In [46]:
# driver code
def seriesCombine(s1,s2):
  s1len = len(series1)
  s2len = len(series2)
  if (s1len > s2len):
    for i in s2:
      s1[i] = s1[i] + s2[i]
    return s1
  else:
    for i in s1:
      s2[i] = s1[i] + s2[i]
    return s2

In [47]:
# testing
np.random.seed(0)
series1 = pd.Series(np.arange(10))
series2 = pd.Series(np.arange(26))
print(seriesCombine(series1, series2))

0      0
1      2
2      4
3      6
4      8
5     10
6     12
7     14
8     16
9     18
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int64

### 5. Using pandas, write a piece of code to convert the first character of each element in a series to uppercase. Test your code with:
```python
series = pd.Series(['nlp', 'will', 'be', 'easy?'])
```

In [ ]:
#code 
def seriesCap(inputWord):
    upperAlpha = {'a':'A','b':'B','c':'C','d':'D','e':'E','f':'F','g':'G','h':'H','i':'I','j':'J','k':'K','l':'L','m':'M','n':'N','o':'O','p':'P','q':'Q','r':'R','s':'S','t':'T','u':'U','v':'V','w':'W','x':'X','y':'Y','z:':'Z'}
    capitalizedWord = ''
    inputWord = list(inputWord)
    if inputWord[0] in upperAlpha:
        inputWord[0] = upperAlpha[inputWord[0]] 
        for j in inputWord: 
            capitalizedWord += j
        return capitalizedWord
    return 'First letter not an alphabet'

In [ ]:
# testing
series = pd.Series(['nlp', 'will', 'be', 'easy?'])
for i in series:
    print(seriesCap(i))

Nlp
Will
Be
Easy?

### Bonus: Using pandas, write a piece of code to get the frequency of unique values in the entire dataframe (not using built in functions). Test your code with:

```python
dataFrame = pd.DataFrame(np.random.randint(5, 10, 20).reshape(-1, 4), columns = list('abcd'))
```

In [ ]:
dataFrame = pd.DataFrame(np.random.randint(5, 10, 20).reshape(-1, 4), columns = list('abcd'))
dataFrame

   a  b  c  d
0  8  7  9  8
1  7  9  9  5
2  6  5  9  8
3  5  8  6  5
4  8  5  7  7

In [ ]:
dl = []
for i in dataFrame:
  dfSeries = dataFrame[i]
  for i in dfSeries:
    dl += [i]

In [ ]:
# code
def freqCount(df):
  freqDict = {}
  for i in df:
    if i in freqDict:
      freqDict[i] += 1
    else:
      freqDict[i] = 1
  return freqDict

In [ ]:
# testing
print(freqCount(dl))

{8: 5, 7: 4, 6: 2, 5: 5, 9: 4}