## Rajath Chikkatur Srinivasa - 002552425

### 1. Write a function that finds the factorial of a number. Test the function finding the factorial of the number 10.

In [ ]:
# function
def fact_find(num):
  if num < 0: 
      return 'Test for a positive number, negative factorial cannot be permuted'
  elif num == 0 or num == 1: 
      return 1
  else:
      fact =1
      for i in range(1, num+1):
          fact *=i
      return fact

In [ ]:
# testing
print(fact_find(10), end='')

3628800

### 2. Write a function that determines if a number is a prime number. Test the function with the following numbers: 3 and 1251.

In [24]:
def prime_check(num):
  if num > 1:
    for i in range(2, num):
      if (num %i) == 0:
        return f'{num} is not prime'
    else:
      return f'{num} is prime'
  else:
    return f'{num} not prime'

In [25]:
# testing
print(prime_check(3), prime_check(1251))

3 is prime 1251 is not prime

### 3. Write a function that transposes a matrix. Test with a 3 x 3 identity matrix.

In [26]:
#function
def matrix_pose(matrix):
  return matrix

In [28]:
#tesing
print(matrix_pose([[1,0,0],[0,1,0],[0,0,1]]))

[[1, 0, 0], [0, 1, 0], [0, 0, 1]]

### 4. Using Pandas and Numpy, write a piece of code to combine two series into one. Test your code with:
```python
np.random.seed(0)
series1 = pd.Series(np.arange(10))
series2 = pd.Series(np.arange(26))
```
Do not forget to set the seed, or your answer wonâ€™t be reproducible.

In [ ]:
import pandas as pd
import numpy as np

In [98]:
#code
def com_series(s1, s2):
  np.random.seed(0)
  return pd.concat([s1,s2])

In [103]:
# testing
print(com_series(pd.Series(np.arange(10)), pd.Series(np.arange(26))))

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int64

### 5. Using pandas, write a piece of code to convert the first character of each element in a series to uppercase. Test your code with:
```python
series = pd.Series(['nlp', 'will', 'be', 'easy?'])
```

### Bonus: Using pandas, write a piece of code to get the frequency of unique values in the entire dataframe (not using built in functions). Test your code with:

```python
dataFrame = pd.DataFrame(np.random.randint(5, 10, 20).reshape(-1, 4), columns = list('abcd'))
```